@page "/product/{id:int}"

@inject IProductService productService

<div class="product-detail-wrapper">
    
     <img class="media-img" alt="@product.Title" src="@product.Url" />
     <div class="product-info">
        <h3>@product.Title </h3>
        <h5>@product.Price</h5>
        <p>@product.Description</p>
    </div>
     
    
</div>

@code {
    private Product? product = null;

    [Parameter]
    public int Id { get; set; }

    protected override void OnParametersSet()
    {
        product = productService.Products.Find(c => c.Id == Id);
        base.OnParametersSet();

    }
}
