
@inject IProductService ProductService
@implements IDisposable;

<div class="row">
    @if (ProductService.Products !=null )
    {
        @foreach (var pr in ProductService.Products)
        {
            <div class="col-md-6 col-lg-4 col-xl-3">             
                
                 <a href="/product/@pr.Id">
                     <img class="media-img" alt="@pr.Title" src="@pr.Url" />
                 </a>
                <a href="/product/@pr.Id"><p>@pr.Title</p></a>
                <p href="/product/@pr.Id"></p><p>@pr.Description</p>
                 <p class="product-old-price">@pr.Price</p>
            </div>
            
        }
    }
    else
    {
        <span>Loading...</span>
    }
</div>


@code {

    protected override void OnInitialized()
    {
        ProductService.ProductChanged += StateHasChanged;

    }

    public void Dispose()
    {
        ProductService.ProductChanged -= StateHasChanged;
    }

   
}
